<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ices.yangengzhe.persistence.dao.FriendgroupDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ices.yangengzhe.persistence.pojo.FriendgroupDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fid_owner" property="fidOwner" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    
    <association property="user" column="uid" select="com.ices.yangengzhe.persistence.dao.UserMapper.selectByUID" javaType="com.ices.yangengzhe.persistence.pojo.User"/>  
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, fid_owner,fid, uid
  </sql>
  <select id="selectUsersByFID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from friendgroup_detail
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <select id="selectUsersByFIDUID" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from friendgroup_detail
    where fid = #{fid,jdbcType=INTEGER} and uid = #{uid,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from friendgroup_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="countfidOwnerUid" resultType="java.lang.Integer" >
    select 
    count(id)
    from friendgroup_detail
    where fid_owner = #{fidOwner,jdbcType=INTEGER} and uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from friendgroup_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ices.yangengzhe.persistence.pojo.FriendgroupDetail" >
    insert into friendgroup_detail (id, fid_owner,fid, uid)
    values (#{id,jdbcType=INTEGER}, #{fidOwner,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER})
  </insert>
</mapper>