<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ices.yangengzhe.persistence.dao.GroupMapper" >
  <resultMap id="BaseResultMap" type="com.ices.yangengzhe.persistence.pojo.Group" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="headphoto" property="headphoto" jdbcType="VARCHAR" />
    <result column="_desc" property="desc" jdbcType="VARCHAR" />
    <result column="owner_uid" property="ownerUid" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, headphoto, _desc, owner_uid, addtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from webchat_groups
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from webchat_groups
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ices.yangengzhe.persistence.pojo.Group" useGeneratedKeys="true" keyProperty="id">
    insert into webchat_groups (id, name, 
      headphoto, _desc, owner_uid, 
      addtime)
    values (#{id,jdbcType=INTEGER},  #{name,jdbcType=VARCHAR}, 
      #{headphoto,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{ownerUid,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ices.yangengzhe.persistence.pojo.Group" >
    insert into webchat_groups
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="headphoto != null" >
        headphoto,
      </if>
      <if test="desc != null" >
        _desc,
      </if>
      <if test="ownerUid != null" >
        owner_uid,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="headphoto != null" >
        #{headphoto,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="ownerUid != null" >
        #{ownerUid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ices.yangengzhe.persistence.pojo.Group" >
    update webchat_groups
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="headphoto != null" >
        headphoto = #{headphoto,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        _desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="ownerUid != null" >
        owner_uid = #{ownerUid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ices.yangengzhe.persistence.pojo.Group" >
    update webchat_groups
    set 
      name = #{name,jdbcType=VARCHAR},
      headphoto = #{headphoto,jdbcType=VARCHAR},
      _desc = #{desc,jdbcType=VARCHAR},
      owner_uid = #{ownerUid,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>