<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ices.yangengzhe.persistence.dao.GroupDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ices.yangengzhe.persistence.pojo.GroupDetail" >
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    gid, uid, addtime
  </sql>
  <select id="selectByUID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from webchat_group_detail
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <select id="selectByGID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from webchat_group_detail
    where gid = #{gid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByUIDGID" >
    delete from webchat_group_detail
    where gid = #{gid,jdbcType=INTEGER} and uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ices.yangengzhe.persistence.pojo.GroupDetail" >
    insert into webchat_group_detail (gid, uid, 
      addtime)
    values (#{gid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP})
  </insert>
</mapper>