<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ices.yangengzhe.persistence.dao.MsgMapper" >
  <resultMap id="BaseResultMap" type="com.ices.yangengzhe.persistence.pojo.Msg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="fromuser" property="fromuser" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, fromuser, gid, msg, addtime
  </sql>
  <select id="selectByUIDTop" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from webchat_msg
    where uid = #{uid,jdbcType=INTEGER}
    order by id DESC
    limit #{num,jdbcType=INTEGER}
  </select>
  <select id="selectByFUIDTop" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from webchat_msg
    where uid = #{uid,jdbcType=INTEGER} and fromuser = #{fromuser,jdbcType=INTEGER}
    order by id DESC
    limit #{num,jdbcType=INTEGER}
  </select>
  
  <select id="selectByGIDTop" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from webchat_msg
    where gid = #{gid,jdbcType=INTEGER}
    order by id DESC
    limit #{num,jdbcType=INTEGER}
  </select>
  
  <select id="selectByFromIDTop" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from webchat_msg
    where fromuser = #{fromuser,jdbcType=INTEGER}
    order by id DESC
    limit #{num,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from webchat_msg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from webchat_msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ices.yangengzhe.persistence.pojo.Msg" >
    insert into webchat_msg (id, uid, fromuser, 
      gid, msg, addtime
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{fromuser,jdbcType=INTEGER}, 
      #{gid,jdbcType=INTEGER}, #{msg,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ices.yangengzhe.persistence.pojo.Msg" >
    insert into webchat_msg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="fromuser != null" >
        fromuser,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="fromuser != null" >
        #{fromuser,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ices.yangengzhe.persistence.pojo.Msg" >
    update webchat_msg
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="fromuser != null" >
        fromuser = #{fromuser,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ices.yangengzhe.persistence.pojo.Msg" >
    update webchat_msg
    set uid = #{uid,jdbcType=INTEGER},
      fromuser = #{fromuser,jdbcType=INTEGER},
      gid = #{gid,jdbcType=INTEGER},
      msg = #{msg,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>